
*{
    margin: 2%;
}
.para{
    background-color: rgb(199, 141, 120);
    border-radius: 10px;
    width: 700px;
    height: 200px;
    padding-top: 0.5%;
    padding-left: 1%;
    padding-right: 0.5%;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(12, 12, 152);


}
.para1{
    background-color: rgb(207, 187, 7);
    color: red;
    border-radius: 10px;
    width: 700px;
    height: 200px;
    padding-top: 1%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
h1{
    border-bottom: 3px dotted green;
    width: 48%;
}
