* {
    color: blue;
}
p{
    background-color: burlywood;
    width: 1200px;
    height: 350px;
    border-top: 4px dotted green;
    border-bottom: 4px dotted green;
    border-left: 4px dotted green;
    border-right: 4px dotted green;
    font-size: large;
    border-radius: 10px;
    text-align: justify;
    padding: 15px;
    transition: transform 0.5s ease;
    margin-top: 1%;
}
p:hover{
    transform: scale(0.5);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
