
.para h2{
    color: red;
}
.para{
    background-color: rgb(86, 79, 79);
    color: black;
    border-radius: 10px;
    text-align: justify;
    width: 700px;
    height: 300px;
    padding-top: 0.5%;
    padding-left: 1%;
    padding-right: 0.5%;
    font-size: larger;
    margin-left: 12%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.para1{
    background-color: rgb(86, 79, 79);
    color: black;
    border-radius: 10px;
    text-align: justify;
    width: 700px;
    height: 300px;
    padding-top: 0.5%;
    padding-left: 1%;
    padding-right: 0.5%;
    margin-left: 12%;

    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.para1 h3{
    color: red;
}
.para2{
    background-color: rgb(86, 79, 79);
    color: black;
    border-radius: 10px;
    text-align: justify;
    margin-left: 12%;

    width: 700px;
    height: 300px;
    padding-top: 0.5%;
    padding-left: 1%;
    padding-right: 0.5%;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.para2 h4{
    color: red;
}
.para3{
    background-color: rgb(86, 79, 79);
    color: black;
    border-radius: 10px;
    text-align: justify;
    width: 700px;
    margin-left: 12%;
    height: 300px;
    padding-top: 0.5%;
    padding-left: 1%;
    padding-right: 0.5%;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.para3 h5{
    color: red;
}
@media(max-width: 700px){
    .para{
        flex-direction: column;
        width: fit-content;
    }
    
.para1{
    flex-direction: column;
    width: fit-content;
}
.para2{
    flex-direction: column;
    width: fit-content;
}

.para3{
    flex-direction: column;
    width: fit-content;
}

}

